<div class="container">
    <div class="alert alert-danger alert-dismissible"
         role="alert"
         ng-show="model.alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.alert}}
    </div>

    <h1>Login</h1>
    <form name="loginForm" novalidate class="css-form">
        <input type="text" name="username"
               class="form-control"
               placeholder="username"
               ng-model="user.username" required>
        <div ng-show="loginForm.$submitted || loginForm.username.$touched">
            <div class="errormsg" ng-show="loginForm.username.$error.required">Username is required</div>
        </div>
        <input type="password" name="password"
               class="form-control"
               placeholder="password"
               ng-model="user.password" required>
        <div ng-show="loginForm.$submitted || loginForm.password.$touched">
            <div class="errormsg" ng-show="loginForm.password.$error.required">Password is required</div>
        </div>
        <input class="btn btn-info btn-block" type="submit"
           ng-click="model.login(user)"value="Login">
        <a href="#/register"
           class="btn btn-success btn-block">Register</a>
    </form>
</div>
