<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand">
                New Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWebsite()" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="alert alert-success alert-dismissible"
         role="alert"
         ng-if="model.success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{model.success}}
    </div>
    <div class="alert alert-danger alert-dismissible"
         role="alert"
         ng-show="model.alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.alert}}
    </div>

    <form name="webNewForm" novalidate class="css-form">
        <div class="from-group">
            <label for="website-name">Name</label>
            <input type="text" name="name"
                   class="form-control"
                   id="website-name"
                   placeholder="Name"
                   ng-model="model.website.name" required>
        </div>
        <div ng-show="webNewForm.name.$touched">
            <div class="errormsg" ng-show="webNewForm.name.$error.required">Name is required</div>
        </div>
        <div class="from-group">
            <label for="website-description">Description</label>
            <textarea class="form-control"
                      id="website-description"
                      rows="3"
                      placeholder="Description"
                      ng-model="model.website.description"></textarea>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>