@font-face {
    font-family: Bariol;
    src: url(../fonts/Bariol_Regular.otf)
}

body {
    margin: 0;
    font-family: Bariol !important;

}
html,body{
    height: 100%
}

.page-content {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

img {
    max-width: 100%;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hi {
    position: relative;
    background: #333;
    padding-bottom: 75px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about_me {
    /*background:#000;*/
    color: #aaa;
    padding-top: 40px;
}

.about_me .about_me_info {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .about_me .about_me_info {
        padding-top: 2%;
        text-align: left;
    }
}

img.avatar {
    border-radius: 100%;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    width: 200px;
    position: relative;
    left: -114px;
    top: 86px;
}
@-webkit-keyframes mysize {
    0% {
        width: 200px;
        -webkit-transform: rotate(0deg);
    }
    25% {
        width: 230px;
        border-radius: 40%;
        -webkit-transform: rotate(45deg);

    }
    50% {
        width: 260px;
        border-radius: 0;
        -webkit-transform: rotate(-45deg);
    }
    75% {
        width: 230px;
        border-radius: 40%;
        -webkit-transform: rotate(45deg);
    }
    100% {
        width: 200px;
        -webkit-transform: rotate(-45deg);
    }
}

img.avatar:hover {
    -webkit-animation-name: mysize;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease;
}

div.secret {
    position: absolute;
    top:80px;
    left:80px;
}


img.icon {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transform: rotate(0deg);
    -moz-transition: -moz-transform 1s linear;
    -o-transform: rotate(0deg);
    -o-transition: -o-transform 1s linear;
}

img.icon:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
}

@media screen and (max-width: 767px) {
    .about_me {
        font-size: 1.5em;
        padding: 0;
    }

    .about_me img.avatar {

        margin-top: 60px;
        width: 50%;
    }

    .icon {
        width: 50px;
        height: 50px;
    }
}

.about_me img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#links {
    background: #f5f4f3;
    padding-bottom: 40px;
}

.project-area {
    color: #666666;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin: 2%;
}

.project-area:hover {
    background: #c2c2c2;
    color: #F58B7D;
}

a:hover {
    text-decoration: none;
}

.heading {
    padding-top: 60px;
    padding-bottom: 40px;
}

#links-content {
    margin-bottom: 40px;
}

.contact {
    background: url(../images/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact .contact-info {
    padding: 3%;
    background: rgba(43, 43, 43, 0.6);
    color: #fff;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contact .contact-info a {
    color: #F58B7D;
}

.contact .contact-info a:hover, .contact .contact-info a:focus {
    color: #F58B7D;
}

@media screen and (max-width: 767px) {
    .contact {
        min-height: 200px;
    }

    .contact .contact-info {
        background: rgba(43, 43, 43, 0.9);
        color: #fff;
    }
}

#footer {
    color: #aaa;
    background-color: #333;
}

.mybtn {
    width: 100px;
    padding: 5px 10px;
    border-color: #F58B7D;
    border-width: 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .25);
    background-color: rgba(27, 60, 76, .1);
    background: transparent;
    padding: 0.61rem 1.25em;
    line-height: 1rem;
    color: #F58B7D;
    transition: all .3s ease-in-out;
}

.mybtn:hover {
    border-color: #F58B7D;
    color: black;
    text-shadow: none;
    background-color: #F58B7D;
    font-weight: bold;
}

#home {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    width: 100%;
    height: 23px;
}

.page-title {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgba(27, 60, 76, .1);
}

.page-content {

    height: 100vh;
    width: 100vw;
}

table th {
    font-size: 150%;
    font-weight: bold;
}

#icons {
    margin-top: 30px;
}

.skill_title {
    font-size: larger;
    color: #F58B7D;
    font-weight: bold;
}

#projects {
    margin-top: 40px;
}

.project {
    margin-bottom: 30px;
    position: relative;
}

.project img {
    width: 100%;
}

.project .project-hover-text {
    width: 0;
    height: 0;
    display: none;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    z-index: 1;
}

.project:hover .project-hover-text {
    width: 93%;
    height: 100%;
    display: block;
    padding-top: 40%;
}

.project-desc {
    background-color: #f5f4f3;
    color: #888;
}

.down_triangle_container {
    height: 75px;
    width: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    z-index: 999;
}

.down_triangle_container .triangle_container {
    height: 65px;
    transform: translate(-25%, 0);
    -webkit-transform: translate(-25%, 0);
    width: 200%;
    text-align: center;
}
.down_triangle_container .triangle_container .black_triangle {
    display: inline-block;
    border-bottom: 0px solid transparent;
    border-top: 75px solid #F58B7D;
    border-left: 1058px solid transparent;
    border-right: 1058px solid transparent;
    height: 1px;
    width: 1px;
}

@media screen and (max-width: 1280px) {
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 65px solid #F58B7D;
        border-left: 1008px solid transparent;
        border-right: 1008px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 1023px) {
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 65px solid #F58B7D;
        border-left: 620px solid transparent;
        border-right: 620px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 980px) {
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 65px solid #F58B7D;
        border-left: 620px solid transparent;
        border-right: 620px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 720px) {
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 55px solid #F58B7D;
        border-left: 420px solid transparent;
        border-right: 420px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 640px) {
    .down_triangle_container .triangle_container {
        height: 65px;
        transform: translate(-25%, 0);
        -webkit-transform: translate(-24%, 0);
        width: 200%;
        text-align: center;
    }
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 35px solid #F58B7D;
        border-left: 320px solid transparent;
        border-right: 320px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 480px) {
    .down_triangle_container .triangle_container {
        height: 65px;
        transform: translate(-25%, 0);
        -webkit-transform: translate(-24%, 0);
        width: 200%;
        text-align: center;
    }
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 35px solid #F58B7D;
        border-left: 301px solid transparent;
        border-right: 320px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 340px) {
    .down_triangle_container .triangle_container {
        height: 65px;
        transform: translate(-25%, 0);
        -webkit-transform: translate(-24%, 0);
        width: 200%;
        text-align: center;
    }
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 35px solid #F58B7D;
        border-left: 307px solid transparent;
        border-right: 320px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 320px) {
    .down_triangle_container .triangle_container {
        height: 65px;
        transform: translate(-25%, 0);
        -webkit-transform: translate(-24%, 0);
        width: 200%;
        text-align: center;
    }
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 35px solid #F58B7D;
        border-left: 290px solid transparent;
        border-right: 320px solid transparent;
        height: 1px;
        width: 1px;
    }
}
@media screen and (max-width: 305px) {
    .down_triangle_container .triangle_container {
        height: 65px;
        transform: translate(-25%, 0);
        -webkit-transform: translate(-24%, 0);
        width: 200%;
        text-align: center;
    }
    .down_triangle_container .triangle_container .black_triangle {
        display: inline-block;
        border-bottom: 0px solid transparent;
        border-top: 35px solid #F58B7D;
        border-left: 279px solid transparent;
        border-right: 320px solid transparent;
        height: 1px;
        width: 1px;
    }
}

div#envlope-icon {
    position: absolute;
    z-index: 1;
    left: 49%;
    top: 55%;
}

.middle_parallax{
    width: 100%;
    height: 560px;
}

@media screen and (max-width: 1980px){
    #future_links {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 400px;
        width: 400px;
        top: 0px;
    }
}

#future_links {
    position: relative;
    overflow: visible;
    flex: none;
    height: 400px;
    width: 400px;
    text-align: right;

}
#future_links .radial {
    position: absolute;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    background-size: contain;
}

.radial#radial_ring_code {
    background-image: url('../images/clock/circle.png') !important;
    animation: animate_ring_code 30s, fade_in 1s;
    -webkit-animation: animate_ring_code 30s, fade_in 1s;
}

@keyframes animate_ring_code {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}