<div>
    <h1>Heading</h1>
    <form>
        <div class="form-group">
            <label for="heading-name">Name</label>
            <input type="text"
                   id="heading-name"
                   class="form-control"
                   ng-model="model.widget.title">
        </div>
        <div class="form-group">
            <label for="heading-text">Text</label>
            <input type="text"
                   id="heading-text"
                   class="form-control"
                   ng-model="model.widget.text">
        </div>
        <div class="form-group">
            <label for="heading-size">Size</label>
            <input type="number"
                   id="heading-size"
                   class="form-control"
                   min="1" max="6" step="1"
                   ng-model="model.widget.size">
        </div>
    </form>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>