<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="col-sm-6 col-sm-offset-3">
    <div class="alert alert-success alert-dismissible"
         role="alert"
         ng-if="model.success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{model.success}}
    </div>
    <div class="alert alert-danger alert-dismissible"
         role="alert"
         ng-show="model.alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.alert}}
    </div>


    <div ng-switch="model.widget.type">
        <div ng-switch-when="HEADER">
            <ng-include src="'views/widget/widgets/widget-header.view.client.html'">
        </div>
        <div ng-switch-when="LABEL">
            <ng-include src="'views/widget/widgets/widget-label.view.client.html'">
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/widgets/widget-html.view.client.html'">
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'views/widget/widgets/widget-text.view.client.html'">
        </div>
        <div ng-switch-when="LINK">
            <ng-include src="'views/widget/widgets/widget-link.view.client.html'">
        </div>
        <div ng-switch-when="BUTTON">
            <ng-include src="'views/widget/widgets/widget-button.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/widgets/widget-image.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/widgets/widget-youtube.view.client.html'">
        </div>
        <div ng-switch-when="DATATABLE">
            <ng-include src="'views/widget/widgets/widget-datatable.view.client.html'">
        </div>
        <div ng-switch-when="REPEATER">
            <ng-include src="'views/widget/widgets/widget-repeater.view.client.html'">
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>