<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Choose Widget
            </a>
        </div>
    </div>
</nav>
<div class="col-sm-6 col-sm-offset-3">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('HEADER')">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('LABEL')">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('HTML')">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('TEXT')">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('LINK')">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('BUTTON')">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('IMAGE')">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('YOUTUBE')">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('DATATABLE')">
                Data Table
            </a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.selectWidget('REPEATER')">
                Repeater
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>