<div>
    <h1>YouTube video</h1>
    <form name="widgetNewForm" novalidate class="css-form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name"
                   id="name"
                   class="form-control"
                   ng-model="model.widget.name" required>
        </div>
        <div ng-show="widgetNewForm.name.$touched">
            <div class="errormsg" ng-show="widgetNewForm.name.$error.required">Name is required</div>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text"
                   id="text"
                   class="form-control"
                   ng-model="model.widget.text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text"
                   id="url"
                   class="form-control"
                   placeholder="https://youtu.be/uLWLashCXHE"
                   ng-model="model.widget.url">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text"
                   id="width"
                   class="form-control"
                   placeholder="100%"
                   ng-model="model.widget.width">
        </div>
    </form>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>