<div>
    <h1>Image</h1>
    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input type="text"
                   id="image-name"
                   class="form-control"
                   ng-model="model.widget.name">
        </div>
        <div class="form-group">
            <label for="image-text">Text</label>
            <input type="text"
                   id="image-text"
                   class="form-control"
                   ng-model="model.widget.text">
        </div>

        <div class="form-group">
            <label for="image-url">URL</label>
            <input type="text"
                   id="image-url"
                   class="form-control"
                   placeholder="https://google.com/image/cat.png"
                   ng-model="model.widget.url">
        </div>
        <div class="form-group">
            <label for="image-width">Width</label>
            <input type="text"
                   id="image-width"
                   class="form-control"
                   placeholder="100%"
                   ng-model="model.widget.width">
        </div>
    </form>
    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr"
       class="btn btn-success btn-block" style="margin-bottom: 10px;">Choose an image from Flickr</a>

    <form action="/api/webbuilder/upload"  method="post" enctype="multipart/form-data">
        <label class="btn btn-default btn-block" for="my-file-selector">
            <input name="myFile" id="my-file-selector" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
            Choose a local file
        </label>
        <span class='label label-info' id="upload-file-info"></span>

        <!--<input name="myFile" type="file" class="form-control"/>-->
        <input name="width" value="{{model.widget.width}}" style="display: none"/>
        <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
        <input name="userId" value="{{model.userId}}" style="display: none"/>
        <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
        <input name="pageId" value="{{model.pageId}}" style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary" style="margin-bottom: 5px;">Upload</button>
    </form>

    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>