<h1>Text</h1>
<form name="widgetNewForm" novalidate class="css-form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"
               id="name"
               class="form-control"
               ng-model="model.widget.name" required>
    </div>
    <div ng-show="widgetNewForm.name.$touched">
        <div class="errormsg" ng-show="widgetNewForm.name.$error.required">Name is required</div>
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text" id="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="rows">Rows</label>
        <input ng-model="model.widget.rows" id="rows" class="form-control" type="number"/>
    </div>
    <div class="form-group">
        <label for="placeholder">Placeholder</label>
        <input ng-model="model.widget.placeholder" id="placeholder" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="formate">Formatted</label>
        <input ng-model="model.widget.formatted" id="formate" type="checkbox"/>
    </div>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</form>