<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../website/website-list.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Blog Post
            </a>
            <div class="pull-right">
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Blogs
            </a>
            <div class="pull-right">
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Home
            </a>
            <div class="pull-right">
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                About
            </a>
            <div class="pull-right">
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Contact Us
            </a>
            <div class="pull-right">
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../views/user/profile.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>