<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group" ng-repeat="page in model.pages">
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
            <div class="pull-right">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>