<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser()"class="navbar-link">
                  <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="alert alert-success alert-dismissible"
         role="alert"
         ng-if="model.success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{model.success}}
    </div>
    <div class="alert alert-danger alert-dismissible"
         role="alert"
         ng-show="model.alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.alert}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   class="form-control"
                   placeholder="username"
                   ng-model="model.user.username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   placeholder="alice@wonderland.com"
                   ng-model="model.user.email">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   id="first-name"
                   class="form-control"
                   placeholder="Alice"
                   ng-model="model.user.firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   id="last-name"
                   class="form-control"
                   placeholder="Wonderland"
                   ng-model="model.user.lastName">
        </div>
    </form>
    <a href="#/user/{{model.userId}}/website" class="btn btn-info btn-block">Websites</a>
    <a href="#/login" class="btn btn-danger btn-block">Logout</a>
    <a href="" ng-click="model.deleteUser()" class="btn btn-danger btn-block">Unregister</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
