<div class="container">
    <div class="alert alert-danger alert-dismissible"
         role="alert"
         ng-show="model.alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.alert}}
    </div>

    <h1>Register</h1>
    <input type="text"
           class="form-control"
           placeholder="username"
           ng-model="model.user.username">
    <input type="password"
           class="form-control"
           placeholder="password"
           ng-model="model.user.password">
    <input type="password"
           class="form-control"
           placeholder="verify password"
           ng-model="model.user.password2">
    <a ng-click="model.register()" class="btn btn-info btn-block">Register</a>
    <a href="#/login" class="btn btn-danger btn-block">Cancel</a>
</div>