<h1 class="text-center well">Contact Us</h1>
<div>
    <div class="row well">
        <div class="address col-md-4">
            <h2 class="mybigfont">Address</h2>
            <p>
                316 E 4th St
                <br>Bloomington IN, 47408
                <br>812-333-1399
            </p>
        </div>
        <div class="phone col-md-4">
            <h2 class="mybigfont">Phone</h2>
            <p>812-333-1399</p>
        </div>
        <div class="email col-md-4">
            <h2 class="mybigfont">Email</h2>
            <p>comments@flavorofindiabtown.com</p>
        </div>
    </div>
    <div class="row">
        <section class="directions">
            <div class="map" id="gmap">
                <iframe style="pointer-events: none;" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=316+E+4th+St%2C+Bloomington%2C+IN+47408&amp;aq=&amp;markers=label:A|316+E+4th+St%2C+Bloomington%2C+IN+47408&amp;output=embed&amp;draggable=false&amp;scrollwheel=false"></iframe>
            </div>
        </section>
    </div>
</div>

<div>
    <form class="form-horizontal myfont">
        <h2 class="text-center well">Send us a message</h2>
		<div class="container form-group well">
			<div class="row">
				<div class="col-sm-1 ">
					<label for="name" class="control-label">Name: </label>
				</div>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="name" placeholder="Your name">
				</div>
				<div class="col-sm-1 ">
					<label for="email" class="col-sm-1 control-label">Email: </label>
				</div>
				<div class="col-sm-5">
					<input type="email" class="form-control" id="email" placeholder="yourname@sample.com">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 ">
					<label for="msg" class="control-label">Message: </label>
				</div>
				<div class="col-sm-11">
					<textarea name="msg" id="msg" cols="30" rows="10" class="form-control"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="text-center col-sm-12">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
    </form>
</div>
