<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">

						<input id ="emailbox" type="email" placeholder="Your Email">

						<button type="button" class="btn btn-success">Subscribe</button>

				</div>
				<div class="row">
					<div class="col-md-12">
					<p>Signup to be on our e-mail list and be the first to
							know about new specials and/or promotions</p>
					</div>
				</div>

			</div>
			<div class="col-md-offset-2 col-md-2">
				<div class = "row">
					<div class="col-md-12 text-center">
						<p>Find us on</p>
						<div>
							<ul class="list-inline">
								<li>
									<a href=""><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href=""><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
								</li>
								<!-- <li>
									<a href=""><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				© 2016 Flavor of India. All rights reserved.
			</div>
		</div>
	</div>
</div>