<h1 class="text-center well">Make a Reservation</h1>
<div>
    <div class="row">
		<div class="col-sm-12 well text-center myfont">
				<h4 class="mybigfont">Call Us</h4>
				<p>812-333-1399</p>
		</div>
	</div>
	<div class="text-center well">
		<h3 class="myfont">OR</h3>
	</div>
	
	<form class="form-horizontal myfont">
        <div class="form-group container well">
		<h4 class="text-center mybigfont">Send a request</h4>
			<div class="row">
				<div class = "col-sm-1">
					<label for="name" class="control-label">Name: </label>
				</div>
				<div class = "col-sm-2">
					<input type="text" class="form-control" id="name" placeholder="Your name">
				</div>
				<div class = "col-sm-1">
					<label for="email" class="control-label">Email: </label>
				</div>
				<div class = "col-sm-2">
					<input type="email" class="form-control" id="email" placeholder="name@sample.com">
				</div>
				<div class = "col-sm-1">
					<label for="date" class="control-label">Date: </label>
				</div>
				<div class = "col-sm-2">
					<input type="date" class="form-control" id="date">
				</div>
				<div class = "col-sm-2">
					<label for="number" class="control-label">Number of people: </label>
				</div>
				<div class = "col-sm-1">
					<input type="number" class="form-control" id="number" min="1" max="10">
				</div>
			</div>
			<div class="row">
				
				<div class = "col-sm-2">
					<label for="msg" class="control-label">Special requirements: </label>
				</div>
				<div class="col-sm-10">
					<textarea name="msg" id="msg" cols="30" rows="10" class="form-control"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
    </form>
</div>