<div>
    <form>
        <div class="form-group">
            <label for="youtube-name">Name</label>
            <input type="text"
                   id="youtube-name"
                   class="form-control"
                   ng-model="model.widget.youtube.name">
        </div>
        <div class="form-group">
            <label for="youtube-text">Text</label>
            <input type="text"
                   id="youtube-text"
                   class="form-control"
                   ng-model="model.widget.youtube.text">
        </div>
        <div class="form-group">
            <label for="youtube-url">URL</label>
            <input type="text"
                   id="youtube-url"
                   class="form-control"
                   placeholder="https://youtu.be/uLWLashCXHE"
                   ng-model="model.widget.youtube.url">
        </div>
        <div class="form-group">
            <label for="youtube-width">Width</label>
            <input type="number"
                   id="youtube-width"
                   class="form-control"
                   ng-model="model.widget.youtube.width">
        </div>
    </form>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>