<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input type="text" id="image-name" class="form-control">
        </div>
        <div class="form-group">
            <label for="image-text">Text</label>
            <input type="text" id="image-text" class="form-control">
        </div>
        <div class="form-group">
            <label for="image-url">URL</label>
            <input type="text" id="image-url" class="form-control" placeholder="https://google.com/image/cat.png">
        </div>
        <div class="form-group">
            <label for="image-width">Width</label>
            <input type="number" id="image-width" class="form-control" placeholder="100%">
        </div>
        <div class="form-group">
            <label for="image-local">Upload</label>
            <input type="file" id="image-local" class="form-control">
        </div>
    </form>
    <a href="#" class="btn btn-info btn-block">Upload Image</a>
    <a href="widget-list.view.client.html" class="btn btn-danger btn-block">Delete</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../views/user/profile.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>