<div>
    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input type="text"
                   id="image-name"
                   class="form-control"
                   ng-model="model.widget.image.name">
        </div>
        <div class="form-group">
            <label for="image-text">Text</label>
            <input type="text"
                   id="image-text"
                   class="form-control"
                   ng-model="model.widget.image.text">
        </div>
        <div class="form-group">
            <label for="image-url">URL</label>
            <input type="text"
                   id="image-url"
                   class="form-control"
                   placeholder="https://google.com/image/cat.png"
                   ng-model="model.widget.image.url">
        </div>
        <div class="form-group">
            <label for="image-width">Width</label>
            <input type="number"
                   id="image-width"
                   class="form-control"
                   placeholder="100%"
                   ng-model="model.widget.image.width">
        </div>
        <div class="form-group">
            <label for="image-local">Upload</label>
            <input type="file"
                   id="image-local"
                   class="form-control"
                   ng-model="model.widget.image.file">
        </div>
    </form>
    <a href="#" class="btn btn-info btn-block">Upload Image</a>
    <a ng-click="model.deleteWidget()"  class="btn btn-danger btn-block">Delete</a>
</div>